# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# OCR backend
OCR_PROVIDER="tesseract"
OCR_TESSERACT_LANG="eng"
OCR_MAX_FILE_SIZE_BYTES="6000000"
